* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}
#waybar {
  background: transparent;
  color: #eeeeef;
  font-size: 14px;
  font-family: "Hack Nerd Font";
}

#workspaces button {
  padding: 0 5px;
  color: #eeeeef;
}
/* Fix: active workspace doesn't show up */
/* #workspaces button.focused { */
#workspaces button.active {
  color: #fa5aa4;
}

#battery,
#custom-powermenu,
#custom-chrome,
#custom-terminal,
#custom-folder,
#cpu,
#temperature,
#memory,
#workspaces,
#clock,
#window,
#pulseaudio,
#disk,
#custom-discord,
#custom-updates,
#network {
  padding: 4px 8px;
  background-color: #303643;
  border-radius: 30px;
  margin: 6px 4px;
}

#window {
  color: #929db1;
}

#tray {
  margin-left: 4px;
}

#custom-updates {
  color: #00bbff;
}

#custom-powermenu {
  color: #fc033d;
  padding-right: 11px;
  margin-right: 8px;
}

#scratchpad {
  color: #cffafe;
  padding-right: 4px;
  padding-left: 4px;
}

#pulseaudio{
  color: #00ffc8;
}

#custom-terminal
{
  color: #00ffa2;
  padding-right: 14px;
}

#cpu {
  color: #00bbff;
}

#temperature {
  color: #00ff4c;
}

#memory{
  color: #03fca5;
}
#custom-folder
{
  color: #e5c07b;
}

#network {
  color: #c300ff;
  min-width: 200px;
}

#clock {
  color: #fff;
  margin-left: 8px;
  /*opacity: 0.7;
  font-size: 18px;*/
}

#disk {
  color: #ff5100;
} 

#custom-chrome {
  color: #d36bed;
}
#custom-discord{
  color : #00b7ff;
}

#battery {
    /*color: #03fca5;*/
    color: #FFA500;
}
